<div class="container">

  <div class = "row">
  <div class="col-10">
  <!-- bouton pour rafraichir la liste de collègues -->
   <a type="button" class="btn btn-info" href="javascript:window.location.reload()">Rafraichir la liste</a> 
  <!--<button  type="button" class="btn btn-info" (click)="raffraichir()">Rafraichir la liste</button> -->

  <!-- bouton vers le formulaire d'ajout d'un collègue -->
  <button type="submit" class="btn btn-outline-info" routerLink="/formulaire">Ajouter un collègue</button>

<!-- barre de navigation pour rechercher un collègue par pseudo-->
  <nav class="navbar navbar-light bg-light">
    <form class="form-inline" name="filtrePseudo" >
      <label>Filtrer par pseudo</label>
      <input name="searchText" [(ngModel)]="searchText" class="form-control mr-sm-2" type="text" placeholder="Rechercher" maxlength="40">
    </form>
  </nav>
</div>


<div class = "row">
  <div class="col-10">
  <section>

    <section *ngIf="err">
      <label class="red-text">Problème d'accès au backend : {{err}}</label>


    </section>

    <section *ngFor="let col of colleguesTab | pseudo : searchText">

      <div class="mt-4">
        <div class="col">
          <app-collegue-component [collegue]="col"></app-collegue-component>
        </div>

      </div>

    </section>


  </section>
</div>
</div>


</div>