
<form (ngSubmit)="submit(monForm.value)" #monForm="ngForm">

  <div class="form-group">
    <label for="champmatricule">Matricule</label>
    <input [(ngModel)]="formulaire.matricule" type="text" class="form-control" placeholder="Entrez votre matricule" #matr="ngModel" name="matricule" required>
  </div>


  <div *ngIf="(matr.invalid && !matr.pristine)">
      Le champs matricule est invalide.
    </div>

  <div class="form-group">
    <label for="champpseudo">Pseudo</label>
    <input [(ngModel)]="formulaire.pseudo" type="text" class="form-control" placeholder="Entrez votre pseudo" #pseudo="ngModel" name="matricule" required minlength="2" required>
  </div>
  
  <div *ngIf="(pseudo.invalid && !pseudo.pristine)">
    Le champs pseudo est invalide.
  </div>

  <div class="form-group">
    <label for="champpseudo">URL image</label>
    <input type="text" class="form-control" placeholder="Entrez l'URL de votre image" name="urlimage">
  </div>

  <button type="submit" class="btn btn-outline-info" (click)="clicAjouter()">Ajouter</button>

  <button type="submit" class="btn btn-outline-info" routerLink="/accueil">Retour</button>

</form>




